body {
    margin: 0;
}
.container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: ;
    grid-gap: 0px;
}
.lompat { margin-top: 4                                                                                                                                                                                                                                                                                   9px;}
.topbar {
    background: #383535;
}
.head {
    width: 100%;
}
.head img {
    width: 100%;
}

nav#menu_raflyiska .toggle,[id^=drop]{display:none}
nav#menu_raflyiska{margin:0;padding:0;background-color:black;}
nav#menu_raflyiska:after{content:"";display:table;clear:both}
nav#menu_raflyiska ul{float:right;padding:0;margin:0;list-style:none;position:relative;width:100%}
nav#menu_raflyiska ul li{margin:0;display:inline-block;float:left;background-color: black;}
nav#menu_raflyiska a{display:block;padding:0 20px;color:#FFF;font-size:20px;line-height:60px;text-decoration:none}
nav#menu_raflyiska ul li ul li:hover{background:orange;}
nav#menu_raflyiska a:hover{background-color:orange;}
nav#menu_raflyiska ul ul{display:none;position:absolute;top:60px}
nav#menu_raflyiska ul li:hover > ul{display:inherit}
nav#menu_raflyiska ul ul li{width:170px;float:none;display:list-item;position:relative}
nav#menu_raflyiska ul ul ul li{position:relative;top:-60px;left:170px}
nav#menu_raflyiska li > a:after{content:"\f0d7";font-family:FontAwesome;padding:0 0 0 3px;float:right}
nav#menu_raflyiska li > a:only-child:after{content:''}
nav#menu_raflyiska li a.active {background-color: red; }
/* Media Queries*/
@media all and (max-width:768px){nav#menu_raflyiska{margin:0}nav#menu_raflyiska .toggle + a,nav#menu_raflyiska .menu{display:none}nav#menu_raflyiska .toggle{display:block;background-color:#254441;padding:0 20px;color:#FFF;font-size:20px;line-height:60px;text-decoration:none;border:none;cursor:pointer}nav#menu_raflyiska label.toggle i{float:right;line-height:60px}nav#menu_raflyiska .toggle:hover{background-color:#000000}nav#menu_raflyiska [id^=drop]:checked + ul{display:block}nav#menu_raflyiska ul li{display:block;width:100%}nav#menu_raflyiska ul ul .toggle,nav#menu_raflyiska ul ul a{padding:0 40px}nav#menu_raflyiska ul ul ul a{padding:0 80px}nav#menu_raflyiska a:hover,nav#menu_raflyiska ul ul ul a{background-color:#000000}nav#menu_raflyiska ul li ul li .toggle,nav#menu_raflyiska ul ul a{background-color:#212121}nav#menu_raflyiska ul ul{float:none;position:static;color:#ffffff}nav#menu_raflyiska ul ul li:hover > ul,nav#menu_raflyiska ul li:hover > ul{display:none}nav#menu_raflyiska ul ul li{display:block;width:100%}nav#menu_raflyiska ul ul ul li{position:static}}
@media all and (max-width:330px){nav#menu_raflyiska ul li{display:block;width:100%}}


@keyframes slidy {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
    }
    
    .slider { overflow: hidden;}
    .slider figure img { width: 20%; float: left; }
    .slider figure { 
      position: relative;
      width: 500%;
      margin: 0;
      left: 0;
      text-align: left;
      font-size: 0;
      animation: 10s slidy infinite; 
    
    }

.artikel {
    color: black;
	background-color: white;
	grid-row-start: 1;
	grid-column-start: 1;
	grid-column-end: 5;
	width: 100%;
	
}
.artikel h2 {
  color: black;
  margin-left: 30px;
}

  .artikel2 {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 5;
    width: 100%;
	background-color: black;
	color: white;
	margin-top: 0px;
  }
  .artikel2 h2 {
	color: white;
  }
  .row h2 {
    text-align: center;
  }
  .row p {
    text-align: justify;
  }
.persen {
  position: relative;
  height: 30px;
  display: block;
  width: 100%;
  background-color: #acece6;
  border-radius: 2px;
  margin: 0.5rem 0 1rem 0;
  overflow: hidden;
}

.persen .determinate {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #26a69a;
  -webkit-transition: width .3s linear;
  transition: width .3s linear;
}
.persen .determinate p {
	text-align: center;
	margin-top: 7px;
}
persen {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}
.footer {
    background: blue;
	width: 100%;
	height: 40px;
	color: white;
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 3;
}
.footer p{
	margin-top: 15px;
}
.row {
    margin-left: auto;
    margin-right: auto;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .row .col {
    float: left;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 0.75rem;
    min-height: 1px;
  }
  
  .row .col[class*="push-"], .row .col[class*="pull-"] {
    position: relative;
  }
  
  .row .col.s1 {
    width: 8.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  
  .row .col.s2 {
    width: 16.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.s2 p.outset {border-style: outset;
  }
  
  .row .col.s3 {
    width: 25%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  
  .row .col.s4 {
    width: 33.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  
  .row .col.s5 {
    width: 41.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  
  .row .col.s6 {
    width: 50%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  
  .row .col.s7 {
    width: 58.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  
  .row .col.s8 {
    width: 66.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  .row .col.s8 p.inset {
	  border-style: inset;
}
  
  .row .col.s9 {
    width: 75%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  
  .row .col.s10 {
    width: 83.3333333333%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  
  .row .col.s11 {
    width: 91.6666666667%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  
  .row .col.s12 {
    width: 100%;
    margin-left: auto;
    left: auto;
    right: auto;
  }
  @media only screen and (min-width: 601px) {
    .row .col.m1 {
      width: 8.3333333333%;
      margin-left: auto;
      left: auto;
      right: auto;
    }
    .row .col.m2 {
      width: 16.6666666667%;
      margin-left: auto;
      left: auto;
      right: auto;
    }
    .row .col.m3 {
      width: 25%;
      margin-left: auto;
      left: auto;
      right: auto;
    }
    .row .col.m4 {
      width: 33.3333333333%;
      margin-left: auto;
      left: auto;
      right: auto;
    }
    .row .col.m5 {
      width: 41.6666666667%;
      margin-left: auto;
      left: auto;
      right: auto;
    }
    .row .col.m6 {
      width: 50%;
      margin-left: auto;
      left: auto;
      right: auto;
    }
    .row .col.m7 {
      width: 58.3333333333%;
      margin-left: auto;
      left: auto;
      right: auto;
    }
    .row .col.m8 {
      width: 66.6666666667%;
      margin-left: auto;
      left: auto;
      right: auto;
    }
    .row .col.m9 {
      width: 75%;
      margin-left: auto;
      left: auto;
      right: auto;
    }
    .row .col.m10 {
      width: 83.3333333333%;
      margin-left: auto;
      left: auto;
      right: auto;
    }
    .row .col.m11 {
      width: 91.6666666667%;
      margin-left: auto;
      left: auto;
      right: auto;
    }
    .row .col.m12 {
      width: 100%;
      margin-left: auto;
      left: auto;
      right: auto;
    }
  }
   @media only screen and (min-width: 993px) {
    .row .col.l1 {
      width: 8.3333333333%;
      margin-left: auto;
      left: auto;
      right: auto;
    }
    .row .col.l2 {
      width: 16.6666666667%;
      margin-left: auto;
      left: auto;
      right: auto;
    }
    .row .col.l3 {
      width: 25%;
      margin-left: auto;
      left: auto;
      right: auto;
    }
    .row .col.l4 {
      width: 33.3333333333%;
      margin-left: auto;
      left: auto;
      right: auto;
    }
    .row .col.l5 {
      width: 41.6666666667%;
      margin-left: auto;
      left: auto;
      right: auto;
    }
    .row .col.l6 {
      width: 50%;
      margin-left: auto;
      left: auto;
      right: auto;
    }
    .row .col.l7 {
      width: 58.3333333333%;
      margin-left: auto;
      left: auto;
      right: auto;
    }
    .row .col.l8 {
      width: 66.6666666667%;
      margin-left: auto;
      left: auto;
      right: auto;
    }
    .row .col.l9 {
      width: 75%;
      margin-left: auto;
      left: auto;
      right: auto;
    }
    .row .col.l10 {
      width: 83.3333333333%;
      margin-left: auto;
      left: auto;
      right: auto;
    }
    .row .col.l11 {
      width: 91.6666666667%;
      margin-left: auto;
      left: auto;
      right: auto;
    }
    .row .col.l12 {
      width: 100%;
      margin-left: auto;
      left: auto;
      right: auto;
    }
   }
   .footer-copyright{
	   overflow:hidden;
	   min-height:40px;
	   display:-webkit-box;
	   display:-webkit-flex;
	   display:-ms-flexbox;
	   display:flex;
	   -webkit-box-align:center;
	   -webkit-align-items:center;
	   -ms-flex-align:center;
	   align-items:center;
	   -webkit-box-pack:justify;
	   -webkit-justify-content:space-between;
	   -ms-flex-pack:justify;
	   justify-content:space-between;
	   padding:1px 0px;
	   color:rgba(255,255,255,0.8);
	   background-color: #383535;
}
.container2 {
	margin:0 auto;
	max-width:1280px;
	width:90%;
	text-align: center;
	}
@media only screen and (min-width: 601px){
	.container2{width:85%}
	}
@media only screen and (min-width: 993px){
	.container2{width:70%}
}
table, th, td {
  border: none;
  color: white;
}

table {
  width: 100%;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
}

table.striped tr {
  border-bottom: none;
}

table.striped > tbody > tr:nth-child(odd) {
  background-color: rgba(242, 242, 242, 0.5);
}

table.striped > tbody > tr > td {
  border-radius: 0;
}

table.highlight > tbody > tr {
  -webkit-transition: background-color .25s ease;
  transition: background-color .25s ease;
}

table.highlight > tbody > tr:hover {
  background-color: rgba(242, 242, 242, 0.5);
}

table.centered thead tr th, table.centered tbody tr td {
  text-align: center;
}

tr {
  border-bottom: 1px solid rgba(255, 255, 255, 255.12);
}

td, th {
  padding: 15px 5px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
}

@media only screen and (max-width: 992px) {
  table.responsive-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    position: relative;
    /* sort out borders */
  }
  table.responsive-table td:empty:before {
    content: '\00a0';
  }
  table.responsive-table th,
  table.responsive-table td {
    margin: 0;
    vertical-align: top;
  }
  table.responsive-table th {
    text-align: left;
  }
  table.responsive-table thead {
    display: block;
    float: left;
  }
  table.responsive-table thead tr {
    display: block;
    padding: 0 10px 0 0;
  }
  table.responsive-table thead tr th::before {
    content: "\00a0";
  }
  table.responsive-table tbody {
    display: block;
    width: auto;
    position: relative;
    overflow-x: auto;
    white-space: nowrap;
  }
  table.responsive-table tbody tr {
    display: inline-block;
    vertical-align: top;
  }
  table.responsive-table th {
    display: block;
    text-align: right;
  }
  table.responsive-table td {
    display: block;
    min-height: 1.25em;
    text-align: left;
  }
  table.responsive-table tr {
    border-bottom: none;
    padding: 0 10px;
  }
  table.responsive-table thead {
    border: 0;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
  }
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 100%;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}